.transition {

  background-color: green;
  color: aliceblue;
  padding: 1rem 2rem;

  transition-duration: 500ms;
  /*transition-delay: 1000ms;*/
  transition-property: scale;
  transition-timing-function: ease-in-out;

}


.transition:hover {

  background-color: greenyellow;
  color: black;
  scale: 1.1;
}

.transition:active {
  background-color: rgb(8, 8, 8);
  color: aliceblue;
  scale: 0.9;
}

.hover {
  transition: all 300ms ease-in-out;


}

.hover:hover {

  scale: 1.02;
}

.title {

  transition: all 300ms ease-in-out;
}

.title:hover {

  scale: 1.02;
}

.anim {

  transition: all 300ms ease-in-out;
}

.anim:hover {

  scale: 1.02;
}

/*Animation styling*/

.animation-container {

  width: 100px;
  height: 100px;
  background-color: blue;
}

.ball {
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;


  animation-name: bouncing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes bouncing {
  0% {

    transform: translateY(0px);
  }

  100% {

    transform: translateY(80px);
  }

}

.slidin-right {}

.slidin-left {
  animation-name: slidin-left;
  animation-duration: 1000ms;
  --from-offset: 100vw;


}

@keyframes slidin-left {

  0% {

    transform: translateX(var(--from-offset));
  }
}